.App {
  text-align: center;
  width: inherit;
  animation: ease-aparition 1s ease-in-out;
}

nav {
  padding-top: 1.3rem;
  width: 100%;
  height: 4.3em;
}

.from-react {
  display: flex;
  float: right;
  align-items: center;
  height: 4.3rem;
}

.from-react p {
  word-spacing: 5px;
  margin-right: 20px;
  font-size: 20px;
}

.react-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.react-logo:hover {
  filter: drop-shadow(0 0 0.8em #61dafbaa);
}

.start-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 2em #c8f818aa);
}

.start-btn {
  font-size: 3em;
}

@keyframes ease-aparition {
  from {
    opacity: 0;
    transform: translateY(-1em)
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes ease-hidding {
  from {
    opacity: 100%;
    transform: translateY(0)
  }
  to {
    opacity: 0;
    transform: translateY(-1em);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* optimization moves in page */
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}
