.Graduates {
  text-align: center;
  display: grid;
  width: var(--size-root-width);
  animation: var(--ease-aparition-default);
}

.grads-list {
  display: flex;
  justify-content: space-evenly;
}

.grads-list div {
  height: 20em;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(35, 165, 235);
  cursor: pointer;
  transition: 200ms;
}

.grads-list div:hover {
  background-color: #68ece84d;
  padding-top: 10px;
  transition: 200ms;
  transform: scale(1.2,1.2);
}

.gradinfo-box {
  position: absolute;
  background-color: #1d3f3e4d;
  margin: 5cm 0 0 8cm;
  height: 12cm;
  width: 20cm;
  animation: var(--ease-aparition-default);
}

/* .gradinfo-box-closed {
  position: absolute;
  background-color: #1d3f3e4d;
  margin: 5cm 0 0 8cm;
  transform: traslateY(-99em);
  opacity: 0;
  height: 12cm;
  width: 20cm;
  animation: var(--ease-hidding-default);
} */

#X-btn:focus {
  background-color: #c02525;
}

/* #X-btn + #gradinfo-box div {
  opacity: 0;
} */